body {
    background-image: url(../images/me\ on\ pc\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#myFace {
    float: left;
    height: 200px;
}

#front {
    float: right;
    height: 240px;
    position: absolute;
    top: 365px;
    right: 5px;

}

header {
    position: absolute;
    top: 5px;
    left: 5px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 50px 30px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 1000;
}

#p1 {
    font-size: 60px;
}

#p2 {
    font-size: 55px;
    list-style: none;
}

#p3 {
    font-size: 60px;
}

.home {
    font-size: 80px;
}