body {
    background-image: url(../images/img-two.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#myFace {
    float: left;
    height: 200px;
}

#fullBody {
    float: right;
    height: 250px;
    position: absolute;
    top: 365px;
    right: 5px;

}

header {
    position: absolute;
    top: 5px;
    left: 5px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 30px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 1000;
}

#p1 {
    font-size: 60px;
}

#p2 {
    font-size: 70px;
    list-style: none;
}

#p3 {
    font-size: 60px;
}

#p4 {
    font-size: 70px;
}

.home {
    font-size: 80px;
}