body {
    background-image: url(../images/me\ on\ pc\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a {
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 1000;
}

main {
    position: relative;
}

.hello-message {
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: 650px;
}

#button {
    font-size: 2em;
    top: 360px;
    left: 880px;
    position: absolute;
    border: solid 5px;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
}

#button:hover {
  font-size: 2.03em;
  background-color: rgb(156, 196, 223);
}

p {
    color: rgb(255, 255, 255);
}

#p1 {
    font-size: 60px;
}

#p2 {
    font-size: 55px;
    list-style: none;
}

#p3 {
    font-size: 60px;
}

li {
    color: rgb(255, 255, 255);
}

.home {
    font-size: 80px;
}